<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {{settings.title}}
  </title>
  <meta name="description" content="{{settings.description}}" />
  <meta name="keywords" content="{{settings.keywords}}" />
  <meta name="author" content="Tomáš Slezák - www.tomasslezak.cz">
  {% block head %}
  <link rel="stylesheet" href="/static/css/glide.core.min.css">
  <link rel="stylesheet" href="/static/css/glide.theme.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  {% endblock %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZSJTSJF7RT"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-ZSJTSJF7RT');
  </script>
</head>

<body>
  {% include "./partials/header.html" %}
  {% include "./partials/navbar.html" %}

  {{ content | safe }}

  <script src="/static/js/alpine.js"></script>

  {% if path == "home" %}
  <!-- Netlify Identity Widget -->
  <!-- Needed only if you are using Netlify Identity feature -->
  <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% endif %}
  <script src="/static/js/glide.min.js"></script>

  <script>
    new Glide('.glide', {
      type: 'carousel',
      gap: 2,
      perView: 3,
      breakpoints: {
        760: {
          perView: 2,
          focusAt: 'center',
        },
        520: {
          perView: 1,
        }
      }
    }).mount()
  </script>

</body>

</html>