<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {{title}}
  </title>
  {% if description %}
  <meta name="description" content="{{description}}" />
  {% endif %}
  {% block head %}{% endblock %}
  <link rel="stylesheet" href="/static/css/glide.core.min.css">
  <link rel="stylesheet" href="/static/css/glide.theme.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>

<body>
  {% include "./partials/header.html" %}
  {% include "./partials/navbar.html" %}

  {{ content | safe }}

  <script src="/static/js/alpine.js"></script>

  {% if path == "home" %}
  <!-- Netlify Identity Widget -->
  <!-- Needed only if you are using Netlify Identity feature -->
  <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% endif %}
  <script src="/static/js/glide.min.js"></script>

  <script>
    new Glide('.glide', {
      type: 'carousel',
      gap: 20,
      perView: 3,
      breakpoints: {
        760: {
          perView: 2,
          focusAt: 'center',
        },
        520: {
          perView: 1,
        }
      }
    }).mount()
  </script>
  <script src="/static/js/app.js"></script>

</body>

</html>